// This is partial scss file, _prefix denots that it is partilal

//variable

//colors
$red: #FF0000;
$green: #0F0;
$black: #000000;

//fonts

$normalFont: arial;


//Font sizes
$headingFontSize: 18px;
$subHeadingFontSize: 16px;
$smallHeadingFontSize: 14px;
$paragraphFontSize: 12px;

//width
$fullWidth: 100%;